@model IEnumerable<appASPBanco.Models.domiciliacion>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.descripcionDomiciliacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.montoDomiciliacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idServicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idProducto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estatus)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.descripcionDomiciliacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.montoDomiciliacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idServicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idProducto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estatus)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idDomiciliacion }) |
            @Html.ActionLink("Details", "Details", new { id=item.idDomiciliacion }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idDomiciliacion })
        </td>
    </tr>
}

</table>
